@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#A9A8AA,#B8B8BC );
}

.sidebar{
    position: fixed;
    width: 270px;
    margin: 16px;
    border-radius: 16px;
    background: #605E5F ;
    height: calc(100vh - 32px);
}

.sidebar .sidebar-header{
    display: flex;
    position: relative;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
}

.sidebar .sidebar-header img{
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler{
    height: 35px;
    width: 35px;
    color: #605E5F ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;

}

.sidebar-header .toggler span{
    font-size: 1.75rem;
}


.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
}

.sidebar-nav .nav-link{
    color: white;
    display: flex;
    text-decoration: none;
    /* background-color: black; */
    gap: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    align-items: center;
    transition: .3s ease;
}

.sidebar-nav .nav-link:hover{
    color: black ;
    background-color: #B8B8BC;
}

.sidebar-nav .secondary-nav{
    list-style: none;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
